<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/b90b7c56-5b79-49ea-be6d-f24b4d56f1f5/resourceGroups/APIBANCOV120220717124056ResourceGroup/providers/Microsoft.ApiManagement/service/APIBANCOV1api/apis/APIBANCOV1</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/b90b7c56-5b79-49ea-be6d-f24b4d56f1f5/resourcegroups/APIBANCOV120220717124056ResourceGroup/providers/Microsoft.Web/sites/APIBANCOV120220717124056</ResourceId>
    <ResourceGroup>APIBANCOV120220717124056ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://apibancov120220717124056.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>aca355c2-8596-4b8c-9afc-7a73aacd0cf3</ProjectGuid>
    <PublishUrl>https://apibancov120220717124056.scm.azurewebsites.net/</PublishUrl>
    <UserName>$APIBANCOV120220717124056</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>